.cuadrado{
    border-radius: 10px;
    width: 240px;
    height: 240px;
    margin-top: 50px;
}

.gris{
    background-color: darkgray;
}

.verde{
    background-color: green;
    border-radius: 50px;
}

.rojo{
    background-color: red;
    border-radius: 0px;
}

.amarillo{
    background-color: yellow;
    border: 10px solid black;
}