.fondo-azul {
    background-color: blue;
}

.fondo-verde {
    background-color: green;
}

.fondo-rojo {
    background-color: red;
}

.letra-amarilla {
    color: yellow;
}

.letra-blanca {
    color: white;
}

.padding-grande {
    padding: 20px;
}