<p class="{{clase2}} {{clase4}}">Deep Purple</p>
<p class="{{aClases}}">Rammstein</p>

<p [class]=aClases>Heroes del Silencio</p>

<p [class]=clase1>stock: {{stock}}</p>

<!-- DEPENDIENDO DE UNA CONDICION (TRUE O FALSE)
QUEREMOS APLICAR UNA U OTRA CLASE... 
PARA ELLO VAMOS A UTILIZAR LA DIRECTIVA ngClass-->

<p [ngClass]="stock > 0 ? 'fondo-verde' : 'fondo-rojo'">stock: {{stock}}</p>
<p [ngClass]="{
    'letra-blanca': stock > 0,
    'letra-amarilla': stock <= 0,
    'fondo-verde': stock > 0,
    'fondo-rojo': stock <= 0
}">stock: {{stock}}</p>